{% extends "base.html" %}

{% block category %}
{% endblock category %}

{% block item %}
<div class="col-md-3">
<form method="post" action="{{ url_for('item.edit_item', id = item_view.id) }}">
    <div class="form-group">

    <label>Please enter the name for the item</label>
    <input class="form-control" type=text name="name" value={{item_view.name}}>
    </div>
        <br>
    
    <div class="form-group">

    <label>Please enter the description for the item</label>

    <textarea class="form-control" name="description" required>
        {{item_view.desc}}
    </textarea>
    </div>
    <div class="form-group">

    <label>Please select the category for the item</label>
    <select class="form-control" name="categories">
      {% for val in cats_view %}
        {% if val.id==item_view.category_id %}
        <option value="{{val.id}}" selected>{{val.name}}</option>
        {% else %}
        <option value="{{val.id}}">{{val.name}}</option>
        {% endif %}
    {% endfor %}
    </select>
    </div>
    <br>
    <span class="c-inline"><button type="submit" class="btn btn-default">Submit</button>
        <p>OR</p> 
        <a href='{{ url_for('main') }}'><p>Cancel</p></a>

        
    </span>
    </form>
</div>
{% endblock item %}